body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  color: #1d1f2e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
p {
  margin: 0px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
}
.container2 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
}

/* HEADER */
.header {
  width: 100%;
  height: 80px;
  top: 0px;
  /*z-index: 1000; /*dont know */
}
.header_inner {
  padding: 30px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
hr {
  color: #a25f4b4d;
}

.nav {
  font-size: 12px;
  display: flex;
  text-transform: uppercase;
  font-style: normal;
}
a.nav_link {
  display: block;
  margin-left: 30px;
  text-decoration: none;
  color: #1d1f2e;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.1s linear;
}

.nav_link:first-child {
  margin-left: 0px; /*расстояние от первой ссылки до лого*/
}

.nav_link:hover {
  text-decoration: underline;
  opacity: 1;
  color: rgb(228, 153, 107);
}

/* INTRO */
.intro {
  display: flex;
  /*background: #e5e5e5 ;*/
}

.intro_inner {
  text-align: center;
  padding: 110px 30px 20px 30px;
  height: 530px;
  background: #050827 url(../img/background/bknd1.png) center no-repeat;
  color: rgba(255, 255, 255, 0.7);
}

.intro_text {
  margin-top: 10px;
  font-size: 12px;
  /* identical to box height, or 150% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.intro_title {
  font-weight: 400;
  font-size: 47px;

  color: #fff;
}
.intro_content {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 45px;
}

.btn {
  color: #1d1f2e;
  text-align: center;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 2px 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  text-decoration: underline;
  opacity: 1;
  color: rgb(228, 153, 107);
  transition: opacity 0.1s linear;
}

/* Features */
.features {
  width: 940px;
  height: 3490px;
  color: #050827;
}
.features_inner {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 400;
}
.featured_title {
  font-weight: 400;
  font-size: 28px;
}

.features_text {
  margin-bottom: 10px;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}
.btn_read {
  font-size: 15px;
  color: #a25f4b;
  text-decoration: none;
  border-bottom: 1px #a25f4b50 solid;
}

.btn_read:hover {
  opacity: 1;
  color: rgb(228, 153, 107);
  transition: opacity 0.1s linear;
}
а.btn {
  margin: 30px 0;
}

.space_title {
  top: 0;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: solid;
  margin: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Product_block1  */
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.product_block {
  margin: 0 20px;
  position: relative;
  overflow: hidden;
}

.product_info {
  margin-bottom: 5 px;
  margin-top: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.product_price_0 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}
span.product_price_0 {
  text-decoration: line-through;
}
.sale {
  color: #A25F4B;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
}
